* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  font-size: 12px;
  text-decoration: none;
}

:root {
  --subtitulo: #5dd;
  --x1: rgb(221, 85, 85);
  --parrafo: rgb(255, 0, 235);
  --colorYellow: rgb(255, 255, 0);
  --x3: rgb(0, 255, 85);
  --nTrans: #0000004d;
  --nNoTrans: #0000009f;
  --envoltorio: #f00;

  --Crosa: #ff00aab0;
  --Nmorado: #500092;
  --Cmorado: #6f00ff;
  --Nrojo: rgb(126, 0, 0);
  --Crojo: #70000079;

  --diagonal: #ff00c893;

  /* x */
  --diagonal: #00000067;
  --Nrojo: #002ca5b2;
  /* x */

  --Ndiagonal: linear-gradient(
    rgba(0, 56, 211, 0.635) 10%,
    var(--diagonal) 90%
  );
  --diagonal__borde: #001e7079;

  --diagonal__aN: #002ca5b2;
  --diagonal__aC: rgba(0, 56, 211, 0.635);

  --barraMenuHorizontal: rgb(0, 255, 85);
  /* li a */
  --clMenuHorizontal: #ffffff;
  --fondoMenuHorizontal: #e9183b;

  /* --colorMenuHorizontal: #18e9bc; */
  --colorMenuHorizontal: #e9183b;

  --fondoMenuHorizontal--link: #a3122a;
}

.container__caja__redaccion {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 115vh;
  padding-top: 10em;
  background: url(/img/img__background/background9.webp) no-repeat center;
  background-size: cover;

}

.caja__redaccion {
  background: transparent;
  background: linear-gradient(to top, #000000da, 80%, transparent);
  width: 80em;
  height: 80em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  /* padding: 0 20em; */
  margin: 60px ;
  border: 5px solid #000000;
  border-radius: 20px;
  color: #ffffff;
}
.caja__redaccion h1 {
  font-size: 40px;
  color: #FED027;
}

.caja__redaccion p {
  font-size: 19px;
  text-align: center;
  
}
/* rotar logo  de nosotros */
.caja__redaccion img {
  width: 300px;
  height: 300px;
  transform: rotate(90deg) translateX(10px);
}
.img_logo{
  width: 200px;
  height: 200px;
  transform: rotate(90deg) translateX(20px);
}
.container__caja__redes {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container__caja__redes .contacto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.container__caja__redes .correo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.container__caja__redes h2 {
  font-size: 20px;
  color: #ffffff;
}
.container__caja__redes .wsp a,
a:link {
  font-size: 20px;
  color: #ffffff;
}

.container__caja__redes h2:hover,
.wsp a:hover {
  color: #6f00ff;
}

@media screen and (max-width: 920px) {
  .caja__redaccion {
    color: #ffffff;
  }
  .container__caja__redaccion {
    /*    background: url(/img/img__background/background11.jpg) no-repeat;
    background-size: cover;
    background-position: center center; */
  }
  .caja__redaccion h1 {
    font-size: 30px;
    color: #ffffff;
  }
}


